<!-- create post page -->
<h2 class="page-title">Create Post</h2>
<form class="pure-form pure-form-stacked form-spacing">
    <fieldset>
        <label for="create-title">Title</label>
        <input type="text" id="create-title" placeholder="Title" name="create-title" class="create-title"/>
        <label for="create-description">Description</label>
        <textarea type="text" id="create-description" placeholder="Description" name="create-description" class="create-description"></textarea>
        <button type="submit" class="pure-button pure-button-primary">Create</button>
    </fieldset>
</form>

<!-- js -->
<script src="/javascript/add-post.js"></script>