<!-- display users page -->
<h2 class="page-title">Your Posts</h2>
<a href="/dashboard/create/"><button id="create-post" class="pure-button create-btn">Create New Post</button></a>
{{#if posts.length}}
{{#each posts as |post|}}
<div class="pure-g">
  <div class="pure-u-1-2">
  {{> post-info post}}
  </div>
  <div class="pure-u-1-2 edit-btn-holder">
  <a href="/dashboard/edit/{{post.id}}"><button class="pure-button edit-btn">Edit</button></a>
  </div>
</div>
{{/each}}
{{else}}
<p class="no-post">You currently have no posts.</p>
{{/if}}