<h2 class="page-title">Edit</h2>
<a href="/dashboard" class="pure-button">Cancel</a>
<form class="pure-form pure-form-stacked form-spacing save">
    <fieldset>
        <label for="post-title">Title</label>
        <input type="text" value="{{post.title}}"/>
        <label for="post-description">Description</label>
        <input type="text" name="post-description" value="{{post.post_content}}"/>
    </fieldset>
    <div>
    Created on {{format_date post.created_at}}
    </div>
    <button type="submit" class="pure-button save-btn">Save</button>
    <button type="button" class="pure-button delete-btn">Delete</button>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>