<!-- show all posts on homepage -->
<h2 class="page-title">Homepage</h2>
<div>
{{#each posts as |post|}}

{{> post-info post }}
</div>

{{else}}
<!-- display if no posts -->
<p class="no-post">No posts have been created yet.</p>
{{/each}}