<!-- create registration page-->
<h2 class="page-title">Registration</h2>
<form class="pure-form pure-form-stacked form-spacing">
    <fieldset>
        <label for="username-signup">Username</label>
        <input type="text" id="username-signup" placeholder="Username" />
        <label for="email-signup">Email</label>
        <input type="email" id="email-signup" placeholder="Email" />
        <label for="password-signup">Password</label>
        <input type="password" id="password-signup" placeholder="Password" />
        <button type="submit" class="pure-button pure-button-primary signup-btn">Register</button>
    </fieldset>
</form>

<!--js-->
<script src="/javascript/signup.js"></script>